<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="utf-8"/>
    <title>Material Design</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons"/>

    <link rel="stylesheet" href="../../static/css/md.min.2301.css">
</head>
<body>
<div id="app">
</div>
<script type="text/javascript" th:utext="${messages}">
</script>
<script src="../../static/js/md-product/md-product.f18f.js"></script>
</body>
</html>