<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page</title>
    <link rel="stylesheet" href="../../static/css/mdl.min.f959.css">
</head>

<body>
    <div id="app"></div>
    <script src="../../static/js/mdl/lib.2de5.js"></script>
    <script src="../../static/js/mdl/index.d5de.js"></script>

</body>

</html>