<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>DEMO</title>
    <style>
        .container {
            width: 400px;
            margin: 100px auto;
            padding: 20px 40px;
            border: 1px solid #ddd;
        }

        a {
            text-decoration: none;
            background: #2e86c1;
            color: #fff;
            padding: 12px 24px;
            border-radius: 5px;
            display: block;
            margin: 40px auto;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <a href="/admin/el">element UI</a>
        <a href="/admin/md">Material Design</a>
        <a href="/admin/mdl">Material Design Lite</a>
    </div>
</div>
</body>
</html>