<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page</title>
    <!-- build:css ../../static/css/mdl.min.css -->
    <link rel="stylesheet" href="../../static/js/mdl/static/css/material.css">
    <link rel="stylesheet" href="../../static/js/mdl/static/css/material.font.css">
    <link rel="stylesheet" href="../../static/js/mdl/static/css/glide.core.css">
    <link rel="stylesheet" href="../../static/js/mdl/static/css/glide.theme.css">
    <link rel="stylesheet" href="../../static/js/mdl/index/index.css">
    <link rel="stylesheet" href="../../static/js/mdl/index/banner.css">
    <link rel="stylesheet" href="../../static/js/mdl/index/card.css">
    <!-- endbuild -->
</head>

<body>
    <div id="app"></div>
    <!-- build:js ../../static/js/mdl/lib.js -->
    <script src="../../static/js/mdl/static/js/material.js"></script>
    <script src="../../static/js/mdl/static/js/glide.js"></script>
    <!-- endbuild -->
    <!-- build:js ../../static/js/mdl/index.js -->
    <script type="text/javascript" src="../../static/js/mdl/index.js"></script>
    <!-- endbuild -->

</body>

</html>