.mdl-card-list>.mdl-grid {
    margin: auto;
}

.mdl-card {
    width: 200px;
    min-height: 0;
}

.glide__track .mdl-card {
    margin: 8px 0;
}

.mdl-card__background {
    position: relative;
    height: 180px;
    white-space: nowrap;
    text-align: center;
    letter-spacing: -5px;
}

.mdl-card__background--large {
    height: 360px;
}

.mdl-card__background::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;

}

.mdl-card__image {
    position: absolute;
    top: 0;
    left: -1000px;
    right: -1000px;
    margin: auto;
    height: 100%;
    max-height: 100%;
    z-index: -1;
    max-width: none;
}

.mdl-card__background--large {
    position: relative;
}

.mdl-card__background--large .mdl-card__image {
    position: absolute;
    top: 0;
    left: -1000px;
    right: -1000px;
    margin: auto;
    height: 100%;
    max-height: 100%;
    z-index: -1;
    max-width: none;
}

.mdl-card--large .mdl-card__background--large {
    position: static;
}

.mdl-card--large .mdl-card__image {
    position: absolute;
    top: 0;
    left: -1000px;
    right: -1000px;
    margin: auto;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: -1;
    max-width: none;
}

.mdl-card__title {
    text-align: center;
    justify-content: center;
}

.mdl-color--primary .mdl-card__title,
.mdl-card--large .mdl-card__title  {
    color:#fff;
}

.mdl-card__title-text {
    font-size: 20px;

}

.mdl-card__supporting-text {
    text-align: center;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
}

.mdl-color--primary .mdl-card__supporting-text,
.mdl-card--large .mdl-card__supporting-text  {
    color:#fff;
}

.mdl-card__actions {
    padding: 16px;
}

.mdl-card__actions-text {
    color: #aaa;
    line-height: 20px;
}

.mdl-color--primary .mdl-card__actions-text,
.mdl-card--large .mdl-card__actions-text  {
    color:#fff!important;
}

.mdl-card__actions-text .material-icons {
    vertical-align: top;
    font-size: 20px;
    line-height: 20px;
}

.mdl-card__actions-text--right {
    float: right;
}

@media(min-width: 1040) {}

@media(min-width: 1200px) {
    .mdl-cell--4-col-20.mdl-cell--4-col-20 {
        width: calc(20% - 16px)
    }
}

@media(max-width: 767px) {

    .mdl-card-list .glide__track {
        /* padding 16px + glide margin 5px */
        margin: 0 -16px;
        padding: 0 16px;
    }

}